In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

C:\Users\redyo\AppData\Local\Temp\ipykernel_18388\3538350959.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [3]:
df = pd.read_csv("book_ratings.csv")
print("shape:",df.shape)
print("Columns:",df.columns)
df.head()

shape: (79701, 4)
Columns: Index(['user_id', 'book_id', 'title', 'rating'], dtype='object')

   user_id  book_id                                              title  rating
0      314        1  Harry Potter and the Half-Blood Prince (Harry ...       5
1      439        1  Harry Potter and the Half-Blood Prince (Harry ...       3
2      588        1  Harry Potter and the Half-Blood Prince (Harry ...       5
3     1169        1  Harry Potter and the Half-Blood Prince (Harry ...       4
4     1185        1  Harry Potter and the Half-Blood Prince (Harry ...       4

In [9]:
df_grouped = df.groupby("title")
df_grouped.head()

,user_id,book_id,title,rating
0,314,1,Harry Potter and the Half-Blood Prince (Harry ...,5
1,439,1,Harry Potter and the Half-Blood Prince (Harry ...,3
2,588,1,Harry Potter and the Half-Blood Prince (Harry ...,5
3,1169,1,Harry Potter and the Half-Blood Prince (Harry ...,4
4,1185,1,Harry Potter and the Half-Blood Prince (Harry ...,4
...,...,...,...,...
79606,167,9998,The Woman in the Dunes,3
79607,206,9998,The Woman in the Dunes,5
79608,973,9998,The Woman in the Dunes,4
79609,1292,9998,The Woman in the Dunes,5
79610,2298,9998,The Woman in the Dunes,4

In [24]:
df_grouped["title"].unique().to_frame()

                                                                                                title
title
'Salem's Lot                                                                           ['Salem's Lot]
'Tis (Frank McCourt, #2)                                                   ['Tis (Frank McCourt, #2)]
1421: The Year China Discovered America                     [1421: The Year China Discovered America]
1776                                                                                           [1776]
1984                                                                                           [1984]
...                                                                                               ...
Year of Wonders                                                                     [Year of Wonders]
You Shall Know Our Velocity!                                           [You Shall Know Our Velocity!]
Zen and the Art of Motorcycle Maintenance: An I...  [Zen and the Art of Motorcycle Maintenance: An...
Zodiac                                                                                       [Zodiac]
number9dream                                                                           [number9dream]

[812 rows x 1 columns]

In [30]:
df_grouped["title"].unique().to_frame().pivot_table(index = ['user_id'],columns = ["title"],values=["rating"])

KeyError: 'rating'

In [47]:
df

,user_id,book_id,title,rating
0,314,1,Harry Potter and the Half-Blood Prince (Harry ...,5
1,439,1,Harry Potter and the Half-Blood Prince (Harry ...,3
2,588,1,Harry Potter and the Half-Blood Prince (Harry ...,5
3,1169,1,Harry Potter and the Half-Blood Prince (Harry ...,4
4,1185,1,Harry Potter and the Half-Blood Prince (Harry ...,4
...,...,...,...,...
79696,51295,9998,The Woman in the Dunes,5
79697,51559,9998,The Woman in the Dunes,5
79698,52087,9998,The Woman in the Dunes,4
79699,52330,9998,The Woman in the Dunes,4
79700,53249,9998,The Woman in the Dunes,5

In [48]:
df_matrix = df.pivot_table(index=["user_id"],columns=['title'],values=['rating'])
df_matrix

              rating                           \
title   'Salem's Lot 'Tis (Frank McCourt, #2)
user_id
2                NaN                      NaN
3                NaN                      NaN
4                NaN                      NaN
7                NaN                      NaN
9                NaN                      NaN
...              ...                      ...
53419            NaN                      NaN
53420            NaN                      NaN
53422            NaN                      NaN
53423            NaN                      NaN
53424            NaN                      NaN

                                                                               \
title   1421: The Year China Discovered America 1776 1984 A Bend in the River
user_id
2                                           NaN  NaN  NaN                 NaN
3                                           NaN  NaN  NaN                 NaN
4                                           NaN  NaN  NaN                 NaN
7                                           NaN  NaN  NaN                 NaN
9                                           NaN  NaN  NaN                 NaN
...                                         ...  ...  ...                 ...
53419                                       NaN  NaN  NaN                 NaN
53420                                       NaN  NaN  NaN                 NaN
53422                                       NaN  NaN  NaN                 NaN
53423                                       NaN  NaN  NaN                 NaN
53424                                       NaN  NaN  NaN                 NaN

                                                                              \
title   A Bend in the Road A Brief History of Time A Briefer History of Time
user_id
2                      NaN                     NaN                       NaN
3                      NaN                     NaN                       NaN
4                      NaN                     NaN                       NaN
7                      NaN                     NaN                       NaN
9                      NaN                     NaN                       NaN
...                    ...                     ...                       ...
53419                  NaN                     NaN                       NaN
53420                  NaN                     NaN                       NaN
53422                  NaN                     NaN                       NaN
53423                  NaN                     NaN                       NaN
53424                  NaN                     NaN                       NaN

                        ...                                      \
title   A Case of Need  ... Women in Love (Brangwen Family, #2)
user_id                 ...
2                  NaN  ...                                 NaN
3                  NaN  ...                                 NaN
4                  NaN  ...                                 NaN
7                  NaN  ...                                 NaN
9                  NaN  ...                                 NaN
...                ...  ...                                 ...
53419              NaN  ...                                 NaN
53420              NaN  ...                                 NaN
53422              NaN  ...                                 NaN
53423              NaN  ...                                 NaN
53424              NaN  ...                                 NaN

                                                        \
title   World War Z: An Oral History of the Zombie War
user_id
2                                                  NaN
3                                                  NaN
4                                                  NaN
7                                                  NaN
9                                                  NaN
...                                                ...
53419                                              NaN
53420                                              NaN
53422                                              NaN
53423                                              NaN
53424                                              NaN

                                                                          \
title   World Without End (The Kingsbridge Series, #2) Wuthering Heights
user_id
2                                                  NaN               NaN
3                                                  NaN               NaN
4                                                  NaN               NaN
7                                                  NaN               NaN
9                                                  NaN               NaN
...                                                ...               ...
53419                                              NaN               NaN
53420                                              NaN               NaN
53422                                              NaN               NaN
53423                                              NaN               NaN
53424                                              NaN               NaN

                                                     \
title   Xenocide (Ender's Saga, #3) Year of Wonders
user_id
2                               NaN             NaN
3                               NaN             NaN
4                               NaN             NaN
7                               NaN             NaN
9                               NaN             NaN
...                             ...             ...
53419                           NaN             NaN
53420                           NaN             NaN
53422                           NaN             NaN
53423                           NaN             NaN
53424                           NaN             NaN

                                      \
title   You Shall Know Our Velocity!
user_id
2                                NaN
3                                NaN
4                                NaN
7                                NaN
9                                NaN
...                              ...
53419                            NaN
53420                            NaN
53422                            NaN
53423                            NaN
53424                            NaN

                                                                           \
title   Zen and the Art of Motorcycle Maintenance: An Inquiry Into Values
user_id
2                                                      NaN
3                                                      NaN
4                                                      NaN
7                                                      NaN
9                                                      NaN
...                                                    ...
53419                                                  NaN
53420                                                  NaN
53422                                                  NaN
53423                                                  NaN
53424                                                  NaN


title   Zodiac number9dream
user_id
2          NaN          NaN
3          NaN          NaN
4          NaN          NaN
7          NaN          NaN
9          NaN          NaN
...        ...          ...
53419      NaN          NaN
53420      NaN          NaN
53422      NaN          NaN
53423      NaN          NaN
53424      NaN          NaN

[28906 rows x 812 columns]

In [49]:

df_matrix

              rating                           \
title   'Salem's Lot 'Tis (Frank McCourt, #2)
user_id
2                NaN                      NaN
3                NaN                      NaN
4                NaN                      NaN
7                NaN                      NaN
9                NaN                      NaN
...              ...                      ...
53419            NaN                      NaN
53420            NaN                      NaN
53422            NaN                      NaN
53423            NaN                      NaN
53424            NaN                      NaN

                                                                               \
title   1421: The Year China Discovered America 1776 1984 A Bend in the River
user_id
2                                           NaN  NaN  NaN                 NaN
3                                           NaN  NaN  NaN                 NaN
4                                           NaN  NaN  NaN                 NaN
7                                           NaN  NaN  NaN                 NaN
9                                           NaN  NaN  NaN                 NaN
...                                         ...  ...  ...                 ...
53419                                       NaN  NaN  NaN                 NaN
53420                                       NaN  NaN  NaN                 NaN
53422                                       NaN  NaN  NaN                 NaN
53423                                       NaN  NaN  NaN                 NaN
53424                                       NaN  NaN  NaN                 NaN

                                                                              \
title   A Bend in the Road A Brief History of Time A Briefer History of Time
user_id
2                      NaN                     NaN                       NaN
3                      NaN                     NaN                       NaN
4                      NaN                     NaN                       NaN
7                      NaN                     NaN                       NaN
9                      NaN                     NaN                       NaN
...                    ...                     ...                       ...
53419                  NaN                     NaN                       NaN
53420                  NaN                     NaN                       NaN
53422                  NaN                     NaN                       NaN
53423                  NaN                     NaN                       NaN
53424                  NaN                     NaN                       NaN

                        ...                                      \
title   A Case of Need  ... Women in Love (Brangwen Family, #2)
user_id                 ...
2                  NaN  ...                                 NaN
3                  NaN  ...                                 NaN
4                  NaN  ...                                 NaN
7                  NaN  ...                                 NaN
9                  NaN  ...                                 NaN
...                ...  ...                                 ...
53419              NaN  ...                                 NaN
53420              NaN  ...                                 NaN
53422              NaN  ...                                 NaN
53423              NaN  ...                                 NaN
53424              NaN  ...                                 NaN

                                                        \
title   World War Z: An Oral History of the Zombie War
user_id
2                                                  NaN
3                                                  NaN
4                                                  NaN
7                                                  NaN
9                                                  NaN
...                                                ...
53419                                              NaN
53420                                              NaN
53422                                              NaN
53423                                              NaN
53424                                              NaN

                                                                          \
title   World Without End (The Kingsbridge Series, #2) Wuthering Heights
user_id
2                                                  NaN               NaN
3                                                  NaN               NaN
4                                                  NaN               NaN
7                                                  NaN               NaN
9                                                  NaN               NaN
...                                                ...               ...
53419                                              NaN               NaN
53420                                              NaN               NaN
53422                                              NaN               NaN
53423                                              NaN               NaN
53424                                              NaN               NaN

                                                     \
title   Xenocide (Ender's Saga, #3) Year of Wonders
user_id
2                               NaN             NaN
3                               NaN             NaN
4                               NaN             NaN
7                               NaN             NaN
9                               NaN             NaN
...                             ...             ...
53419                           NaN             NaN
53420                           NaN             NaN
53422                           NaN             NaN
53423                           NaN             NaN
53424                           NaN             NaN

                                      \
title   You Shall Know Our Velocity!
user_id
2                                NaN
3                                NaN
4                                NaN
7                                NaN
9                                NaN
...                              ...
53419                            NaN
53420                            NaN
53422                            NaN
53423                            NaN
53424                            NaN

                                                                           \
title   Zen and the Art of Motorcycle Maintenance: An Inquiry Into Values
user_id
2                                                      NaN
3                                                      NaN
4                                                      NaN
7                                                      NaN
9                                                      NaN
...                                                    ...
53419                                                  NaN
53420                                                  NaN
53422                                                  NaN
53423                                                  NaN
53424                                                  NaN


title   Zodiac number9dream
user_id
2          NaN          NaN
3          NaN          NaN
4          NaN          NaN
7          NaN          NaN
9          NaN          NaN
...        ...          ...
53419      NaN          NaN
53420      NaN          NaN
53422      NaN          NaN
53423      NaN          NaN
53424      NaN          NaN

[28906 rows x 812 columns]

In [50]:
# df_matrix = df.apply(lambda x: (x-np.mean(x))/((np.max(x)-np.min(x))),axis =1)
norm = df_matrix.apply( lambda x: (x- np.mean(x))/(np.max(x)-np.min(x)),axis =1 )

In [51]:
norm

              rating                           \
title   'Salem's Lot 'Tis (Frank McCourt, #2)
user_id
2                NaN                      NaN
3                NaN                      NaN
4                NaN                      NaN
7                NaN                      NaN
9                NaN                      NaN
...              ...                      ...
53419            NaN                      NaN
53420            NaN                      NaN
53422            NaN                      NaN
53423            NaN                      NaN
53424            NaN                      NaN

                                                                               \
title   1421: The Year China Discovered America 1776 1984 A Bend in the River
user_id
2                                           NaN  NaN  NaN                 NaN
3                                           NaN  NaN  NaN                 NaN
4                                           NaN  NaN  NaN                 NaN
7                                           NaN  NaN  NaN                 NaN
9                                           NaN  NaN  NaN                 NaN
...                                         ...  ...  ...                 ...
53419                                       NaN  NaN  NaN                 NaN
53420                                       NaN  NaN  NaN                 NaN
53422                                       NaN  NaN  NaN                 NaN
53423                                       NaN  NaN  NaN                 NaN
53424                                       NaN  NaN  NaN                 NaN

                                                                              \
title   A Bend in the Road A Brief History of Time A Briefer History of Time
user_id
2                      NaN                     NaN                       NaN
3                      NaN                     NaN                       NaN
4                      NaN                     NaN                       NaN
7                      NaN                     NaN                       NaN
9                      NaN                     NaN                       NaN
...                    ...                     ...                       ...
53419                  NaN                     NaN                       NaN
53420                  NaN                     NaN                       NaN
53422                  NaN                     NaN                       NaN
53423                  NaN                     NaN                       NaN
53424                  NaN                     NaN                       NaN

                        ...                                      \
title   A Case of Need  ... Women in Love (Brangwen Family, #2)
user_id                 ...
2                  NaN  ...                                 NaN
3                  NaN  ...                                 NaN
4                  NaN  ...                                 NaN
7                  NaN  ...                                 NaN
9                  NaN  ...                                 NaN
...                ...  ...                                 ...
53419              NaN  ...                                 NaN
53420              NaN  ...                                 NaN
53422              NaN  ...                                 NaN
53423              NaN  ...                                 NaN
53424              NaN  ...                                 NaN

                                                        \
title   World War Z: An Oral History of the Zombie War
user_id
2                                                  NaN
3                                                  NaN
4                                                  NaN
7                                                  NaN
9                                                  NaN
...                                                ...
53419                                              NaN
53420                                              NaN
53422                                              NaN
53423                                              NaN
53424                                              NaN

                                                                          \
title   World Without End (The Kingsbridge Series, #2) Wuthering Heights
user_id
2                                                  NaN               NaN
3                                                  NaN               NaN
4                                                  NaN               NaN
7                                                  NaN               NaN
9                                                  NaN               NaN
...                                                ...               ...
53419                                              NaN               NaN
53420                                              NaN               NaN
53422                                              NaN               NaN
53423                                              NaN               NaN
53424                                              NaN               NaN

                                                     \
title   Xenocide (Ender's Saga, #3) Year of Wonders
user_id
2                               NaN             NaN
3                               NaN             NaN
4                               NaN             NaN
7                               NaN             NaN
9                               NaN             NaN
...                             ...             ...
53419                           NaN             NaN
53420                           NaN             NaN
53422                           NaN             NaN
53423                           NaN             NaN
53424                           NaN             NaN

                                      \
title   You Shall Know Our Velocity!
user_id
2                                NaN
3                                NaN
4                                NaN
7                                NaN
9                                NaN
...                              ...
53419                            NaN
53420                            NaN
53422                            NaN
53423                            NaN
53424                            NaN

                                                                           \
title   Zen and the Art of Motorcycle Maintenance: An Inquiry Into Values
user_id
2                                                      NaN
3                                                      NaN
4                                                      NaN
7                                                      NaN
9                                                      NaN
...                                                    ...
53419                                                  NaN
53420                                                  NaN
53422                                                  NaN
53423                                                  NaN
53424                                                  NaN


title   Zodiac number9dream
user_id
2          NaN          NaN
3          NaN          NaN
4          NaN          NaN
7          NaN          NaN
9          NaN          NaN
...        ...          ...
53419      NaN          NaN
53420      NaN          NaN
53422      NaN          NaN
53423      NaN          NaN
53424      NaN          NaN

[28906 rows x 812 columns]

In [54]:
norm.fillna(0,inplace=True)
norm

              rating                           \
title   'Salem's Lot 'Tis (Frank McCourt, #2)
user_id
2                0.0                      0.0
3                0.0                      0.0
4                0.0                      0.0
7                0.0                      0.0
9                0.0                      0.0
...              ...                      ...
53419            0.0                      0.0
53420            0.0                      0.0
53422            0.0                      0.0
53423            0.0                      0.0
53424            0.0                      0.0

                                                                               \
title   1421: The Year China Discovered America 1776 1984 A Bend in the River
user_id
2                                           0.0  0.0  0.0                 0.0
3                                           0.0  0.0  0.0                 0.0
4                                           0.0  0.0  0.0                 0.0
7                                           0.0  0.0  0.0                 0.0
9                                           0.0  0.0  0.0                 0.0
...                                         ...  ...  ...                 ...
53419                                       0.0  0.0  0.0                 0.0
53420                                       0.0  0.0  0.0                 0.0
53422                                       0.0  0.0  0.0                 0.0
53423                                       0.0  0.0  0.0                 0.0
53424                                       0.0  0.0  0.0                 0.0

                                                                              \
title   A Bend in the Road A Brief History of Time A Briefer History of Time
user_id
2                      0.0                     0.0                       0.0
3                      0.0                     0.0                       0.0
4                      0.0                     0.0                       0.0
7                      0.0                     0.0                       0.0
9                      0.0                     0.0                       0.0
...                    ...                     ...                       ...
53419                  0.0                     0.0                       0.0
53420                  0.0                     0.0                       0.0
53422                  0.0                     0.0                       0.0
53423                  0.0                     0.0                       0.0
53424                  0.0                     0.0                       0.0

                        ...                                      \
title   A Case of Need  ... Women in Love (Brangwen Family, #2)
user_id                 ...
2                  0.0  ...                                 0.0
3                  0.0  ...                                 0.0
4                  0.0  ...                                 0.0
7                  0.0  ...                                 0.0
9                  0.0  ...                                 0.0
...                ...  ...                                 ...
53419              0.0  ...                                 0.0
53420              0.0  ...                                 0.0
53422              0.0  ...                                 0.0
53423              0.0  ...                                 0.0
53424              0.0  ...                                 0.0

                                                        \
title   World War Z: An Oral History of the Zombie War
user_id
2                                                  0.0
3                                                  0.0
4                                                  0.0
7                                                  0.0
9                                                  0.0
...                                                ...
53419                                              0.0
53420                                              0.0
53422                                              0.0
53423                                              0.0
53424                                              0.0

                                                                          \
title   World Without End (The Kingsbridge Series, #2) Wuthering Heights
user_id
2                                                  0.0               0.0
3                                                  0.0               0.0
4                                                  0.0               0.0
7                                                  0.0               0.0
9                                                  0.0               0.0
...                                                ...               ...
53419                                              0.0               0.0
53420                                              0.0               0.0
53422                                              0.0               0.0
53423                                              0.0               0.0
53424                                              0.0               0.0

                                                     \
title   Xenocide (Ender's Saga, #3) Year of Wonders
user_id
2                               0.0             0.0
3                               0.0             0.0
4                               0.0             0.0
7                               0.0             0.0
9                               0.0             0.0
...                             ...             ...
53419                           0.0             0.0
53420                           0.0             0.0
53422                           0.0             0.0
53423                           0.0             0.0
53424                           0.0             0.0

                                      \
title   You Shall Know Our Velocity!
user_id
2                                0.0
3                                0.0
4                                0.0
7                                0.0
9                                0.0
...                              ...
53419                            0.0
53420                            0.0
53422                            0.0
53423                            0.0
53424                            0.0

                                                                           \
title   Zen and the Art of Motorcycle Maintenance: An Inquiry Into Values
user_id
2                                                      0.0
3                                                      0.0
4                                                      0.0
7                                                      0.0
9                                                      0.0
...                                                    ...
53419                                                  0.0
53420                                                  0.0
53422                                                  0.0
53423                                                  0.0
53424                                                  0.0


title   Zodiac number9dream
user_id
2          0.0          0.0
3          0.0          0.0
4          0.0          0.0
7          0.0          0.0
9          0.0          0.0
...        ...          ...
53419      0.0          0.0
53420      0.0          0.0
53422      0.0          0.0
53423      0.0          0.0
53424      0.0          0.0

[28906 rows x 812 columns]

In [57]:
norm_T = norm.T
norm_T

user_id                                                    2      3      \
       title
rating 'Salem's Lot                                          0.0    0.0
       'Tis (Frank McCourt, #2)                              0.0    0.0
       1421: The Year China Discovered America               0.0    0.0
       1776                                                  0.0    0.0
       1984                                                  0.0    0.0
...                                                          ...    ...
       Year of Wonders                                       0.0    0.0
       You Shall Know Our Velocity!                          0.0    0.0
       Zen and the Art of Motorcycle Maintenance: An I...    0.0    0.0
       Zodiac                                                0.0    0.0
       number9dream                                          0.0    0.0

user_id                                                    4      7      \
       title
rating 'Salem's Lot                                          0.0    0.0
       'Tis (Frank McCourt, #2)                              0.0    0.0
       1421: The Year China Discovered America               0.0    0.0
       1776                                                  0.0    0.0
       1984                                                  0.0    0.0
...                                                          ...    ...
       Year of Wonders                                       0.0    0.0
       You Shall Know Our Velocity!                          0.0    0.0
       Zen and the Art of Motorcycle Maintenance: An I...    0.0    0.0
       Zodiac                                                0.0    0.0
       number9dream                                          0.0    0.0

user_id                                                    9      10     \
       title
rating 'Salem's Lot                                          0.0    0.0
       'Tis (Frank McCourt, #2)                              0.0    0.0
       1421: The Year China Discovered America               0.0    0.0
       1776                                                  0.0    0.0
       1984                                                  0.0    0.0
...                                                          ...    ...
       Year of Wonders                                       0.0    0.0
       You Shall Know Our Velocity!                          0.0    0.0
       Zen and the Art of Motorcycle Maintenance: An I...    0.0    0.0
       Zodiac                                                0.0    0.0
       number9dream                                          0.0    0.0

user_id                                                    11     14     \
       title
rating 'Salem's Lot                                          0.0    0.0
       'Tis (Frank McCourt, #2)                              0.0    0.0
       1421: The Year China Discovered America               0.0    0.0
       1776                                                  0.0    0.0
       1984                                                  0.0    0.0
...                                                          ...    ...
       Year of Wonders                                       0.0    0.0
       You Shall Know Our Velocity!                          0.0    0.0
       Zen and the Art of Motorcycle Maintenance: An I...    0.0    0.0
       Zodiac                                                0.0    0.0
       number9dream                                          0.0    0.0

user_id                                                    15     19     ...  \
       title                                                             ...
rating 'Salem's Lot                                          0.0    0.0  ...
       'Tis (Frank McCourt, #2)                              0.0    0.0  ...
       1421: The Year China Discovered America               0.0    0.0  ...
       1776                                                  0.0    0.0  ...
       1984                                                  0.0    0.0  ...
...                                                          ...    ...  ...
       Year of Wonders                                       0.0    0.0  ...
       You Shall Know Our Velocity!                          0.0    0.0  ...
       Zen and the Art of Motorcycle Maintenance: An I...    0.0    0.0  ...
       Zodiac                                                0.0    0.0  ...
       number9dream                                          0.0    0.0  ...

user_id                                                    53404  53406  \
       title
rating 'Salem's Lot                                          0.0    0.0
       'Tis (Frank McCourt, #2)                              0.0    0.0
       1421: The Year China Discovered America               0.0    0.0
       1776                                                  0.0    0.0
       1984                                                  0.0    0.0
...                                                          ...    ...
       Year of Wonders                                       0.0    0.0
       You Shall Know Our Velocity!                          0.0    0.0
       Zen and the Art of Motorcycle Maintenance: An I...    0.0    0.0
       Zodiac                                                0.0    0.0
       number9dream                                          0.0    0.5

user_id                                                    53408  53409  \
       title
rating 'Salem's Lot                                          0.0    0.0
       'Tis (Frank McCourt, #2)                              0.0    0.0
       1421: The Year China Discovered America               0.0    0.0
       1776                                                  0.0    0.0
       1984                                                  0.0    0.0
...                                                          ...    ...
       Year of Wonders                                       0.0    0.0
       You Shall Know Our Velocity!                          0.0    0.0
       Zen and the Art of Motorcycle Maintenance: An I...    0.0    0.0
       Zodiac                                                0.0    0.0
       number9dream                                          0.0    0.0

user_id                                                    53416  53419  \
       title
rating 'Salem's Lot                                          0.0    0.0
       'Tis (Frank McCourt, #2)                              0.0    0.0
       1421: The Year China Discovered America               0.0    0.0
       1776                                                  0.0    0.0
       1984                                                  0.0    0.0
...                                                          ...    ...
       Year of Wonders                                       0.0    0.0
       You Shall Know Our Velocity!                          0.0    0.0
       Zen and the Art of Motorcycle Maintenance: An I...    0.0    0.0
       Zodiac                                                0.0    0.0
       number9dream                                          0.0    0.0

user_id                                                    53420  53422  \
       title
rating 'Salem's Lot                                          0.0    0.0
       'Tis (Frank McCourt, #2)                              0.0    0.0
       1421: The Year China Discovered America               0.0    0.0
       1776                                                  0.0    0.0
       1984                                                  0.0    0.0
...                                                          ...    ...
       Year of Wonders                                       0.0    0.0
       You Shall Know Our Velocity!                          0.0    0.0
       Zen and the Art of Motorcycle Maintenance: An I...    0.0    0.0
       Zodiac                                                0.0    0.0
       number9dream                                          0.0    0.0

user_id                                                    53423  53424
       title
rating 'Salem's Lot                                          0.0    0.0
       'Tis (Frank McCourt, #2)                              0.0    0.0
       1421: The Year China Discovered America               0.0    0.0
       1776                                                  0.0    0.0
       1984                                                  0.0    0.0
...                                                          ...    ...
       Year of Wonders                                       0.0    0.0
       You Shall Know Our Velocity!                          0.0    0.0
       Zen and the Art of Motorcycle Maintenance: An I...    0.0    0.0
       Zodiac                                                0.0    0.0
       number9dream                                          0.0    0.0

[812 rows x 28906 columns]

In [73]:
norm_T2 = norm_T.loc[:,(norm_T!=0).any(axis=0)]

In [74]:
norm_T2

user_id                                                    7      10     \
       title
rating 'Salem's Lot                                          0.0    0.0
       'Tis (Frank McCourt, #2)                              0.0    0.0
       1421: The Year China Discovered America               0.0    0.0
       1776                                                  0.0    0.0
       1984                                                  0.0    0.0
...                                                          ...    ...
       Year of Wonders                                       0.0    0.0
       You Shall Know Our Velocity!                          0.0    0.0
       Zen and the Art of Motorcycle Maintenance: An I...    0.0    0.0
       Zodiac                                                0.0    0.0
       number9dream                                          0.0    0.0

user_id                                                    23     27     \
       title
rating 'Salem's Lot                                          0.0    0.0
       'Tis (Frank McCourt, #2)                              0.0    0.0
       1421: The Year China Discovered America               0.0    0.0
       1776                                                  0.0    0.0
       1984                                                  0.0    0.0
...                                                          ...    ...
       Year of Wonders                                       0.0    0.0
       You Shall Know Our Velocity!                          0.0    0.0
       Zen and the Art of Motorcycle Maintenance: An I...    0.0    0.0
       Zodiac                                                0.0    0.0
       number9dream                                          0.0    0.0

user_id                                                    35     41     \
       title
rating 'Salem's Lot                                          0.0    0.0
       'Tis (Frank McCourt, #2)                              0.0    0.0
       1421: The Year China Discovered America               0.0    0.0
       1776                                                  0.0    0.0
       1984                                                  0.0    0.0
...                                                          ...    ...
       Year of Wonders                                       0.0    0.0
       You Shall Know Our Velocity!                          0.0    0.0
       Zen and the Art of Motorcycle Maintenance: An I...    0.0    0.0
       Zodiac                                                0.0    0.0
       number9dream                                          0.0    0.0

user_id                                                    46     47     \
       title
rating 'Salem's Lot                                          0.0    0.0
       'Tis (Frank McCourt, #2)                              0.0    0.0
       1421: The Year China Discovered America               0.0    0.0
       1776                                                  0.0    0.0
       1984                                                  0.0    0.0
...                                                          ...    ...
       Year of Wonders                                       0.0    0.0
       You Shall Know Our Velocity!                          0.0    0.0
       Zen and the Art of Motorcycle Maintenance: An I...    0.0    0.0
       Zodiac                                                0.0    0.0
       number9dream                                          0.0    0.0

user_id                                                    49     51     ...  \
       title                                                             ...
rating 'Salem's Lot                                          0.0    0.0  ...
       'Tis (Frank McCourt, #2)                              0.0    0.0  ...
       1421: The Year China Discovered America               0.0    0.0  ...
       1776                                                  0.0    0.0  ...
       1984                                                  0.0    0.0  ...
...                                                          ...    ...  ...
       Year of Wonders                                       0.0    0.0  ...
       You Shall Know Our Velocity!                          0.0    0.0  ...
       Zen and the Art of Motorcycle Maintenance: An I...    0.0    0.0  ...
       Zodiac                                                0.0    0.0  ...
       number9dream                                          0.0    0.0  ...

user_id                                                    53364  53366  \
       title
rating 'Salem's Lot                                          0.0    0.0
       'Tis (Frank McCourt, #2)                              0.0    0.0
       1421: The Year China Discovered America               0.0    0.0
       1776                                                  0.0    0.0
       1984                                                  0.0    0.0
...                                                          ...    ...
       Year of Wonders                                       0.0    0.0
       You Shall Know Our Velocity!                          0.0    0.0
       Zen and the Art of Motorcycle Maintenance: An I...    0.0    0.0
       Zodiac                                                0.0    0.0
       number9dream                                          0.0    0.0

user_id                                                    53372  53373  \
       title
rating 'Salem's Lot                                          0.0    0.0
       'Tis (Frank McCourt, #2)                              0.0    0.0
       1421: The Year China Discovered America               0.0    0.0
       1776                                                  0.0    0.0
       1984                                                  0.0    0.0
...                                                          ...    ...
       Year of Wonders                                       0.0    0.0
       You Shall Know Our Velocity!                          0.0    0.0
       Zen and the Art of Motorcycle Maintenance: An I...    0.0    0.0
       Zodiac                                                0.0    0.0
       number9dream                                          0.0    0.0

user_id                                                    53378  53381  \
       title
rating 'Salem's Lot                                          0.0    0.0
       'Tis (Frank McCourt, #2)                              0.0    0.0
       1421: The Year China Discovered America               0.0    0.0
       1776                                                  0.0    0.0
       1984                                                  0.0    0.0
...                                                          ...    ...
       Year of Wonders                                       0.0    0.0
       You Shall Know Our Velocity!                          0.0    0.0
       Zen and the Art of Motorcycle Maintenance: An I...    0.0    0.0
       Zodiac                                                0.0    0.0
       number9dream                                          0.0    0.0

user_id                                                    53393     53403  \
       title
rating 'Salem's Lot                                          0.0  0.000000
       'Tis (Frank McCourt, #2)                              0.0  0.000000
       1421: The Year China Discovered America               0.0  0.000000
       1776                                                  0.0  0.000000
       1984                                                  0.0  0.000000
...                                                          ...       ...
       Year of Wonders                                       0.0  0.000000
       You Shall Know Our Velocity!                          0.0  0.000000
       Zen and the Art of Motorcycle Maintenance: An I...    0.0 -0.666667
       Zodiac                                                0.0  0.000000
       number9dream                                          0.0  0.000000

user_id                                                    53406  53420
       title
rating 'Salem's Lot                                          0.0    0.0
       'Tis (Frank McCourt, #2)                              0.0    0.0
       1421: The Year China Discovered America               0.0    0.0
       1776                                                  0.0    0.0
       1984                                                  0.0    0.0
...                                                          ...    ...
       Year of Wonders                                       0.0    0.0
       You Shall Know Our Velocity!                          0.0    0.0
       Zen and the Art of Motorcycle Maintenance: An I...    0.0    0.0
       Zodiac                                                0.0    0.0
       number9dream                                          0.5    0.0

[812 rows x 12409 columns]

In [88]:
(norm_T2.iloc[0]==0).sum()

12395

In [92]:
norm[norm_T2.iloc[0]==0]

C:\Users\redyo\AppData\Local\Temp\ipykernel_18388\4288009146.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  norm[norm_T2.iloc[0]==0]

IndexingError: Unalignable boolean Series provided as indexer (index of the boolean Series and of the indexed object do not match).

In [93]:
# data = {'A': [0, 0, 0], 'B': [1, 0, 3], 'C': [0, 0, 0], 'D': [4, 5, 6]}
# f = pd.DataFrame(data)
# print(f)
# print(f.loc[:,(f!=0).any(axis=0)])

In [ ]:
# Me Experimenting With the .index
# df = your_dataframe

# # Get the row index for the row you want to check
# row_index = 0 # Replace with the desired row index

# # Get the columns where the values in the specified row are all 0
# zero_cols = df.loc[row_index][df.loc[row_index] == 0].index

# # Get the data of the columns with zero values in the specified row
# zero_data = df.loc[:, zero_cols]

# # Print the zero data
# print(zero_data)